<div class="kiosk-header-top">
	<div class="container">
		<app-header></app-header>
	</div>
</div>
<div class="kiosk-header-bottom header-sticky">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-2 col-sm-5 col-5">
				<div class="logo">
					<a href="home.html"><img src="https://i.ibb.co/y8c2Cvw/unnamed.png" width="50px"></a>
				</div>
			</div>
			<app-menu></app-menu>
			<div class="slider-area kiosk-slider">
				<div class="container">
					<div class="breadcrumb">
						<ul>
							<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
							<li class="active"><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
						</ul>
					</div>
				</div>
				<div class="kiosk-products-cart ptb-70 pb-sm-50">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<form action="#">
									<div class="table-content table-responsive">
										<table>
											<thead>
												<tr>
													<th class="kiosk-product-thumb">Image</th>
													<th class="product-name">Product</th>
													<th class="product-price">Price</th>
													<th class="product-quantity">Quantity</th>
													<th class="product-total">Total</th>
													<th class="kiosk-product-remove">Remove</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="kiosk-product-thumb">
														<a href="#"><img src="img\products\3.jpeg" alt="cart-image"></a>
													</td>
													<td class="product-name"><a href="#">Standard Shoes</a></td>
													<td class="product-price"><span class="amount">$232.00</span></td>
													<td class="product-quantity">
														<input value="1" type="number">
													</td>
													<td class="product-total text-center"><span
															class="amount">$232.00</span>
													</td>
													<td class="product-add-to-cart"><a href="#">X</a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<app-footer></app-footer>
			</div>
		</div>
	</div>
</div>